@tailwind base;
@tailwind components;
@tailwind utilities;

.basic-container {
  @apply md:max-w-[1480px] max-w-[600px] m-auto w-full h-full flex justify-between items-center px-4;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}
